In [4]:
import pandas as pd

In [5]:
df_ATLAS = pd.read_csv('./atlas_Digital.csv', encoding='latin1', sep=';', low_memory=False)

df_ATLAS.head()

,Protocolo_S2iD,Nome_Municipio,Sigla_UF,regiao,Data_Registro,Data_Evento,Cod_Cobrade,tipologia,descricao_tipologia,grupo_de_desastre,...,PEPL_Ensino (R$),PEPL_total_publico,PEPR_Descricao,PEPR_Agricultura (R$),PEPR_Pecuária (R$),PEPR_Indústria (R$),PEPR_Comércio (R$),PEPR_Serviços (R$),PEPR_total_privado,PE_PLePR
0,SC-D-4215406-14110-19910107,Salto Veloso,SC,Sul,07/01/1991,07/01/1991,14110,"4,00",Estiagem e Seca,Climatológico,...,"0,00","0,00",NaN,"0,00","0,00","0,00","0,00","0,00","0,00","0,00"
1,RS-D-4313102-14110-19910112,Nova Palma,RS,Sul,12/01/1991,12/01/1991,14110,"4,00",Estiagem e Seca,Climatológico,...,"0,00","0,00",NaN,"0,00","0,00","0,00","0,00","0,00","0,00","0,00"
2,RS-D-4304952-14110-19910115,Caseiros,RS,Sul,15/01/1991,15/01/1991,14110,"4,00",Estiagem e Seca,Climatológico,...,"0,00","0,00",NaN,"0,00","0,00","0,00","0,00","0,00","0,00","0,00"
3,SC-D-4208609-14110-19910115,Jaborá,SC,Sul,15/01/1991,15/01/1991,14110,"4,00",Estiagem e Seca,Climatológico,...,"0,00","0,00",NaN,"0,00","0,00","0,00","0,00","0,00","0,00","0,00"
4,SC-D-4207650-14110-19910118,Iporã do Oeste,SC,Sul,18/01/1991,18/01/1991,14110,"4,00",Estiagem e Seca,Climatológico,...,"0,00","0,00",NaN,"0,00","0,00","0,00","0,00","0,00","0,00","0,00"

In [6]:
df_ATLAS.columns

Index(['Protocolo_S2iD', 'Nome_Municipio', 'Sigla_UF', 'regiao',
       'Data_Registro', 'Data_Evento', 'Cod_Cobrade', 'tipologia',
       'descricao_tipologia', 'grupo_de_desastre', 'Cod_IBGE_Mun',
       'Setores Censitários', 'Status', 'DH_Descricao', 'DH_MORTOS',
       'DH_FERIDOS', 'DH_ENFERMOS', 'DH_DESABRIGADOS', 'DH_DESALOJADOS',
       'DH_DESAPARECIDOS', 'DH_AFETADOS_SECA_ESTIAGEM',
       'DH_total_danos_humanos_diretos', 'DH_OUTROS AFETADOS', 'DM_Descricao',
       'DM_Uni Habita Danificadas', 'DM_Uni Habita Destruidas',
       'DM_Uni Habita Valor', 'DM_Inst Saúde Danificadas',
       'DM_Inst Saúde Destruidas', 'DM_Inst Saúde Valor',
       'DM_Inst Ensino Danificadas', 'DM_Inst Ensino Destruidas',
       'DM_Inst Ensino Valor', 'DM_Inst Serviços Danificadas',
       'DM_Inst Serviços Destruidas', 'DM_Inst Serviços Valor',
       'DM_Inst Comuni Danificadas', 'DM_Inst Comuni Destruidas',
       'DM_Inst Comuni Valor', 'DM_Obras de Infra Danificadas',
       'DM_Obras de Infra Destruidas', 'DM_Obras de Infra Valor',
       'DM_total_danos_materiais', 'DA_Descricao', 'DA_Polui/cont da água',
       'DA_Polui/cont do ar', 'DA_Polui/cont do solo',
       'DA_Dimi/exauri hídrico', 'DA_Incêndi parques/APA's/APP's',
       'PEPL_Descricao', 'PEPL_Assis_méd e emergên(R$)',
       'PEPL_Abast de água pot(R$)', 'PEPL_sist de esgotos sanit(R$)',
       'PEPL_Sis limp e rec lixo (R$)', 'PEPL_Sis cont pragas (R$)',
       'PEPL_distrib energia (R$)', 'PEPL_Telecomunicações (R$)',
       'PEPL_Tran loc/reg/l_curso (R$)', 'PEPL_Distrib combustíveis(R$)',
       'PEPL_Segurança pública (R$)', 'PEPL_Ensino (R$)', 'PEPL_total_publico',
       'PEPR_Descricao', 'PEPR_Agricultura (R$)', 'PEPR_Pecuária (R$)',
       'PEPR_Indústria (R$)', 'PEPR_Comércio (R$)', 'PEPR_Serviços (R$)',
       'PEPR_total_privado', 'PE_PLePR'],
      dtype='object')

In [7]:
df_Temporarias = ['Nome_Municipio', 'Sigla_UF', 'regiao', 'Data_Evento', 'descricao_tipologia', 'grupo_de_desastre']

In [8]:
df_ATLAS_temp = df_ATLAS[df_Temporarias]

In [9]:
df_ATLAS_temp.head()

,Nome_Municipio,Sigla_UF,regiao,Data_Evento,descricao_tipologia,grupo_de_desastre
0,Salto Veloso,SC,Sul,07/01/1991,Estiagem e Seca,Climatológico
1,Nova Palma,RS,Sul,12/01/1991,Estiagem e Seca,Climatológico
2,Caseiros,RS,Sul,15/01/1991,Estiagem e Seca,Climatológico
3,Jaborá,SC,Sul,15/01/1991,Estiagem e Seca,Climatológico
4,Iporã do Oeste,SC,Sul,18/01/1991,Estiagem e Seca,Climatológico

In [10]:
desastre_em_SP = df_ATLAS_temp[df_ATLAS_temp['Sigla_UF'] == 'SP']['descricao_tipologia'].value_counts()
print(desastre_em_SP)

descricao_tipologia
Enxurradas                         562
Inundações                         509
Alagamentos                        301
Chuvas Intensas                    293
Movimento de Massa                 275
Vendavais e Ciclones               247
Incêndio Florestal                 233
Estiagem e Seca                    138
Outros                              41
Erosão                              34
Granizo                             26
Onda de Frio                         8
Doenças infecciosas                  7
Onda de Calor e Baixa Umidade        5
Tornado                              3
Rompimento/Colapso de barragens      2
Name: count, dtype: int64

In [12]:
# Enxurrada por cidade
desastre_enxurrada_city = df_ATLAS_temp(
    df_ATLAS_temp['Sigla_UF'] == 'SP' &
    df_ATLAS_temp['descricao_tipologia'] == 'Enxurradas'
)['Nome_Municipio'].value_counts()
print(f'Enxurrada por cidade: {desastre_enxurrada_city}')

print('---------------------------------------------------')
# Inundação por cidade
desastre_inundacoes_city = df_ATLAS_temp[df_ATLAS_temp['descricao_tipologia'] == 'Inundações']['Nome_Municipio'].value_counts()
print(f'Inundação por cidade: {desastre_inundacoes_city}')

print('---------------------------------------------------')
# Alagamento por cidade
desastre_alagamento_city = df_ATLAS_temp[df_ATLAS_temp['descricao_tipologia'] == 'Alagamentos']['Nome_Municipio'].value_counts()
print(f'Alagamento por cidade: {desastre_alagamento_city}')


print('---------------------------------------------------')
# Chuvas Intensas por cidade
desastre_chuvaIntensa_city = df_ATLAS_temp[df_ATLAS_temp['descricao_tipologia'] == 'Chuvas Intensas']['Nome_Municipio'].value_counts()
print(f'Chuvas Intensas por cidade: {desastre_chuvaIntensa_city}')

TypeError: Cannot perform 'rand_' with a dtyped [object] array and scalar of type [bool]